.hamburgerMenu {
    margin-top: 0.5rem;
    margin-right: 1rem;
    width: 30px;
    height: 45px;
    background-color: transparent;
    border: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburgerMenu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--text-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburgerMenu span:nth-child(1) {
    top: 10px
}

.hamburgerMenu span:nth-child(2) {
    top: 18px
}

.hamburgerMenu span:nth-child(3) {
    top: 26px
}

.hamburgerMenu.active span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hamburgerMenu.active span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.hamburgerMenu.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.empty {
    width: 60px;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Uni Sans";
    font-weight: 800;
    font-size: 64px;
    text-align: center;
    padding: 1rem;
    font-style: italic;
    background-color: var(--background-tertiary-color);
    margin-left: var(--margin-left);
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .logo img {
    width: 57px;
}

.homeButtons, .repoButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn {
    margin: 0 1rem;
}

.views {
    margin-left: var(--margin-left);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emotesContainer, .aboutContainer, .downloadsContainer {
    background-color: var(--background-secondary-color);
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    width: var(--width);
}

.aboutContainer.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: var(--width);
    cursor: pointer;
}

.aboutContainer.socials .socials i {
    margin-right: 0.5rem;
}

.aboutContainer.credits {
    display: flex;
    flex-direction: column;
}

.aboutContainer.credits .credit {
    display: flex;
    flex-direction: column;
    padding-bottom: 0rem;
}

.credit .creditContainer {
    display: flex;
    width: var(--width);
    padding: 1rem;
}

.credit .creditContainer img {
    border-radius: 1rem;
    width: 60px;
    height: 60px;
    margin-right: 1rem;
}

.credit .creditContainer .creditInformation {
    display: flex;
    flex-direction: column;
}

.credit .creditContainer .creditInformation .creditUserName {
    font-weight: bold;
}

.credit .creditContainer .creditInformation .creditLinks {
    margin: 0.5rem 0;
}

.credit .creditContainer .creditInformation .creditLinks .creditLink {
    margin: 0.2rem 0;
}

.credit .creditContainer .creditInformation .creditLinks .creditLink i {
    margin-right: 0.5rem;
}

.downloadsContainer .downloads {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.downloadsContainer .downloads span {
    margin-right: 1rem;
}

.repoDetailsContainer {
    margin-top: 1rem;
    width: var(--width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-tertiary-color);
    border-radius: 99rem;
    cursor: pointer;
}

.repoDetailsContainer .leftDetails {
    display: flex;
    align-items: center;
}

.repoDetailsContainer .leftDetails img {
    display: flex;
    align-self: center;
    width: 60px;
    height: 60px;
    margin: 0 1rem;
    border-radius: 99rem;
    background-color: var(--background-secondary-color);
}

.repoDetailsContainer .leftDetails .repoHeader {
    display: flex;
    flex-direction: column;
}

.repoDetailsContainer .leftDetails .repoHeader h4 {
    padding: 0;
    margin: 0;
}

.repoDetailsContainer span {
    opacity: 0.6;
    margin-right: 1rem;
}

.repoEmotesContainer, .frequentlyUsedEmotes {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.frequentlyUsedEmotes {
    padding: unset;
}

.repoEmotesContainer .emoteContainer, .frequentlyUsedEmotes .emoteContainer {
    margin: 0.5rem;
    cursor: pointer;
}

.repoEmotesContainer .emoteContainer > *, .frequentlyUsedEmotes .emoteContainer > *{
    pointer-events: none;
}

.repoEmotesContainer .emoteContainer img, .frequentlyUsedEmotes .emoteContainer img {
    border-radius: 1rem;
}