.emoteContainer {
    display: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
}

.emoteContainer img.emote {
    background-color: var(--backgroundColor);
    border-radius: var(--borderRadius);
    width: 38px;
}