@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@font-face {
  font-family: 'Uni Sans';
  src: url('./assets/fonts/uni-sans/Uni\ Sans\ Heavy.otf');
  font-weight: 800;
}
@font-face {
  font-family: 'Uni Sans';
  src: url('./assets/fonts/uni-sans/Uni\ Sans\ Heavy\ Italic.otf');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Uni Sans';
  src: url('./assets/fonts/uni-sans/Uni\ Sans\ Thin.otf');
  font-weight: 200;
}

:root {
  --borderRadius: 8px;
  --textColor: hsl(0,calc(1*0%),100%);
  --backgroundColor: hsl(220,calc(1*7.7%),22.9%);
  --backgroundSecondaryColor: hsl(223,calc(1*6.9%),19.8%);
  --backgroundTertiaryColor: hsl(216,calc(1*7.2%),13.5%);
  --backgroundColorAlpha: hsla(220,calc(1*7.7%),22.9%, 0.4);
  --backgroundSecondaryColorAlpha: hsla(223,calc(1*6.9%),19.8%, 0.4);
  --backgroundTertiaryColorAlpha: hsla(216,calc(1*7.2%),13.5%, 0.4);
  --primary-color: #5865F2;
  --success-color: #57F287;
  --danger-color: #ED4245;
  --warning-color: #FEE75C;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--textColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar { width: 0px; }
